backports.weakref==1.0rc1
bleach==1.5.0
cycler==0.10.0
enum34==1.1.6
h5py==2.7.1
html5lib==0.9999999
Keras==2.1.5
kiwisolver==1.0.1
Markdown==2.2.0
matplotlib==2.2.2
natsort==5.3.0
numpy==1.14.2
protobuf==3.5.2.post1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
tensorflow-gpu==1.2.0
tensorflow-tensorboard==0.1.8
Werkzeug==0.14.1
